{% extends 'index.html' %}
{% block titulo %}
    ELiminar Registro Entrada
{% endblock titulo%}
{% block tituloPrincipal %}
    Eliminar Registro Entrada
{% endblock tituloPrincipal %}
{% block tituloSecundario %}
    Formulario de validación
{% endblock tituloSecundario %}
{% block pagina_actual %}
    <div class="card-body card-block">
        <form method="post">
            {% csrf_token %}
            <p>¿Esta Seguro que desea eliminar el registro entrada del vehiculo {{ object.placa }} ?<p>
            {{ form.as_p }}
            <div class="card-footer">
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Eliminar
                </button>
            </div>
        </form>
    </div>
{% endblock pagina_actual %}