{% extends 'index.html' %}
{% block titulo %}
    Factura Vehiculo
{% endblock titulo%}
{% block tituloPrincipal %}
    Dar Salida Al vehiculo {{ datos.registroEntrada.placa }}
{% endblock tituloPrincipal %}
{% block tituloSecundario %}
    Contenido
{% endblock tituloSecundario %}
{% block pagina_actual %}
<table class="table table-bordered">
    <tr>
        <form method="POST" action="{% url 'parking:crearFactura' datos.registroEntrada.pk %}">
            {% csrf_token %}
            <!-- {{ form.valorPagar }} -->
            <input type="number" name="valorPagar" id="valorPagar" value="{{ datos.valorPagar }}" hidden>
            <input type="number" name="diasEstacionado" id="diasEstacionado" value="{{ datos.dias }}" hidden>
            <input type="number" name="horasEstacionado" id="horasEstacionado" value="{{ datos.horasTemplate }}" hidden>
            <input type="number" name="minutosEstaciondo" id="minutosEstaciondo" value="{{ datos.minutosTemplate }}" hidden>
            <input type="number" name="valorSinDescuento" id="valorSinDescuento" value="{{ datos.pagar }}" hidden>
            <input type="number" name="descuento" id="descuento" value="{{ datos.valorDescuento }}" hidden>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Generar Facturar
                </button>
            </div>
        </form>
    </tr>
    <tr>
        <th colspan="4" scope="col">Registro salida vehiculo {{ datos.registroEntrada.placa }}</th>
    </tr>
    <tr>
        <th colspan="2" scope="col"><h4>Hora Ingreso:</h4>{{ datos.registroEntrada.horaIngreso }}</th>
        <th colspan="2" scope="col"><h4>Hora Salida:</h4>{{ datos.fechaActual }}</th>
    </tr>
    <tr>
        <th colspan="4" scope="col">Informacion del vehiculo</th>
    </tr>
    <tr>
        <th scope="col"><h4>Placa:</h4>{{ datos.registroEntrada.placa }}</th>
        <th scope="col"><h4>Tipo Vehiculo:</h4>{{ datos.registroEntrada.placa.tipo.tipo }}</th>
        <th scope="col"><h4>Tarifa Vehiculo:</h4>{{ datos.registroEntrada.placa.tipo.tarifa }}</th>
        <th scope="col"><h4>Descuento:</h4>{{ datos.registroEntrada.placa.descuento.tipoDescuento }}, <span> {{ datos.registroEntrada.placa.descuento.porcentaje }}%</span></th>
    </tr>
    <tr>
        <th colspan="4" scope="col">Tiempo en parqueadero</th>
    </tr>
    <tr>
        <th scope="col"><h4>Dias:</h4>{{ datos.dias }}</th>
        <th scope="col"><h4>Horas:</h4>{{ datos.horasTemplate }}</th>
        <th colspan="2" scope="col"><h4>Minutos:</h4>{{ datos.minutosTemplate }}</th>
    </tr>
    <tr>
        <th scope="col"><h4>Valor Sin Descuento:</h4>$ {{ datos.pagar }}</th>
        <th scope="col"><h4>Descuento:</h4>$ {{ datos.valorDescuento }}</th>
        <th colspan="2" scope="col"><h4>Valor a Pagar:</h4>$ {{ datos.valorPagar }}</th>
    </tr>
</table>

{% endblock pagina_actual %}
