{% extends 'index.html' %}
{% block titulo %}
    Factura Vehiculo
{% endblock titulo%}
{% block tituloPrincipal %}
    Dar Salida Al vehiculo {{ datos.idVehiculo.placa }}
{% endblock tituloPrincipal %}
{% block tituloSecundario %}
    Contenido
{% endblock tituloSecundario %}
{% block pagina_actual %}
<table class="table table-bordered">
    <tr>
        <form method="POST">
            {% csrf_token %}
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Generar Facturar
                </button>
            </div>
        </form>
    </tr>
    <tr>
        <th colspan="4" scope="col">Registro salida vehiculo {{ datos.idVehiculo.placa }}</th>
    </tr>
    <tr>
        <th colspan="2" scope="col"><h4>Hora Ingreso:</h4>{{ datos.factura.horaIngreso }}</th>
        <th colspan="2" scope="col"><h4>Hora Salida:</h4>{{ datos.fechaActual }}</th>
    </tr>
    <tr>
        <th colspan="4" scope="col">Informacion del vehiculo</th>
    </tr>
    <tr>
        <th scope="col"><h4>Placa:</h4>{{ datos.idVehiculo.placa }}</th>
        <th scope="col"><h4>Tipo Vehiculo:</h4>{{ datos.idVehiculo.tipo}}</th>
        <th scope="col"><h4>Tarifa Vehiculo:</h4>{{ datos.idTarifa.tarifa }}</th>
        <th scope="col"><h4>Descuento:</h4>{{ datos.idDescuento.tipoDescuento }}, <span> {{ datos.idDescuento.porcentaje }}%</span></th>
    </tr>
    <tr>
        <th colspan="4" scope="col">Tiempo en parqueadero</th>
    </tr>
    <tr>
        <th scope="col"><h4>Dias:</h4>{{ datos.dias }}</th>
        <th scope="col"><h4>Horas:</h4>{{ datos.horasTemplate }}</th>
        <th colspan="2" scope="col"><h4>Minutos:</h4>{{ datos.minutosTemplate }}</th>
    </tr>
    <tr>
        <th scope="col"><h4>Valor Sin Descuento:</h4>$ {{ datos.pagar }}</th>
        <th scope="col"><h4>Descuento:</h4>$ {{ datos.valorDescuento }}</th>
        <th colspan="2" scope="col"><h4>Valor a Pagar:</h4>$ {{ datos.valorPagar }}</th>
    </tr>
</table>

{% endblock pagina_actual %}
