{% extends 'index.html' %}
{% block titulo %}
    Vehiculos Registrados
{% endblock titulo %}
{% block tituloPrincipal %}
    Listado de Vehiculos
{% endblock tituloPrincipal %}
{% block tituloSecundario %}
    <div class="row">
        <div class="col-md-8">
            Contenido
        </div>
        <div class="col-md-4">
            <a href="{% url 'parking:crear_vehiculo' %}">Crear Vehiculo</a>
        </div>
    </div>
{% endblock tituloSecundario %}
{% block pagina_actual %}
    {% if vehiculosregistrados %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Descuento</th>
                    <th scope="col">Tipo Vehiculo</th>
                    <th scope="col">Estado Vehiculo</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculoregistrado in vehiculosregistrados %}
                <tr>
                    <th>{{ vehiculoregistrado.pk }}</th>
                    <td>{{ vehiculoregistrado.placa }}</td>
                    <td>{{ vehiculoregistrado.descuento }}</td>
                    <td>{{ vehiculoregistrado.tipo }}</td>
                    <td>{{ vehiculoregistrado.estadoParqueadero }}</td>
                    <td><a href="{% url 'parking:editar_vehiculo' vehiculoregistrado.pk %}">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No existe vehiculos creados.</h1>
    {% endif%}
{% endblock pagina_actual%}