{% extends 'index.html' %}
{% block titulo %}
    Vehiculos Registrados
{% endblock titulo %}
{% block tituloPrincipal %}
    Listado de Vehiculos
{% endblock tituloPrincipal %}
{% block tituloSecundario %}
    <div class="row">
        <div class="col-md-8">
            Contenido
        </div>
        <div class="col-md-4">
            <a href="{% url 'parking:crear_vehiculo' %}">Crear Vehiculo</a>
        </div>
    </div>
{% endblock tituloSecundario %}
{% block pagina_actual %}
    {% if datos %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Descuento</th>
                    <th scope="col">Tipo Vehiculo</th>
                    <th scope="col">Estacionado</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculoregistrado in datos %}
                <tr>
                    <th>{{ vehiculoregistrado.pk }}</th>
                    <td>{{ vehiculoregistrado.placa }}</td>
                    <td>{{ vehiculoregistrado.descuento }}</td>
                    <td>{{ vehiculoregistrado.tipo }}</td>
                    <td>
                        {% if vehiculoregistrado.estadoParqueadero == True %}
                            <div class="fa-hover col-lg-3 col-md-6"><i class="fa fa-check-circle-o"></i></div>
                        {% else %}
                            <div class="fa-hover col-lg-3 col-md-6"><i class="fa fa-times"></i></div>    
                        {% endif %}
                    </td>
                    <td><a href="{% url 'parking:editar_vehiculo' vehiculoregistrado.pk %}"><i class="fa fa-edit"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">No existen registros!</h4>
            <hr>
        </div>
    {% endif%}
{% endblock pagina_actual%}