{% extends 'index.html' %}
{% block titulo %}
    Descuentos
{% endblock titulo %}
{% block tituloPrincipal %}
    Listado de Descuentos
{% endblock tituloPrincipal %}
{% block tituloSecundario %}
    <div class="row">
        <div class="col-md-8">
            Contenido
        </div>
        <div class="col-md-4">
        <a href="{% url 'parking:crear_descuento' %}">Crear Descuento</a>
        </div>
    </div>
{% endblock tituloSecundario %}
{% block pagina_actual %}
        {% if descuentos %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo Descuento</th>
                        <th scope="col">Porcentaje</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for descuento in descuentos %}
                    <tr>
                        <th>{{ descuento.pk }}</th>
                        <td>{{ descuento.tipoDescuento }}</td>
                        <td>{{ descuento.porcentaje }}%</td>
                        <td><a href="{% url 'parking:editar_descuento' descuento.pk %}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">No existen registros!</h4>
                <hr>
            </div>
        {% endif %}
{% endblock pagina_actual %}