{% extends 'index.html' %}
{% block titulo %}
    Registro Entrada
{% endblock titulo %}
{% block tituloPrincipal %}
    Listado de Registro de Entradas
{% endblock tituloPrincipal %}
{% block tituloSecundario %}
    <div class="row">
        <div class="col-md-8">
            Contenido
        </div>
        <div class="col-md-4">
        <a href="{% url 'parking:crear_registroEntrada' %}">Registrar Entrada</a>
        </div>
    </div>
{% endblock tituloSecundario %}
{% block pagina_actual %}
    {% if registrosentradas %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Hora Entrada</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Salida</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for registroentrada in registrosentradas %}
                <tr>
                    <th>{{ registroentrada.pk }}</th>
                    <td>{{ registroentrada.horaIngreso }}</td>
                    <td>{{ registroentrada.placa }}</td>
                    <td><a href="{% url 'parking:crearFactura' registroentrada.pk %}">Salida</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No existen Registros Creados.</h1>
    {% endif %}
{% endblock pagina_actual%}