{% extends 'index.html' %}
{% block titulo %}
    Facturas
{% endblock titulo %}
{% block tituloPrincipal %}
    Listado de Facturas
{% endblock tituloPrincipal %}
{% block tituloSecundario %}
    <div class="row">
        <div class="col-md-8">
            Contenido
        </div>
        <div class="col-md-4">
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown" data-toggle="dropdown"  aria-expanded="false">
                    Descargar en formato <i class="fa fa-bars"></i>
                </a>
                <div class="user-menu dropdown-menu">
                    <a class="nav-link" href="{% url 'reportes:generarInformeTotal' %}">PDF <i class="fa fa-file-pdf-o"></i></a>
                    <a class="nav-link" href="{% url 'reportes:generarInformeTotalExcel' %}">Excel <i class="fa fa-file-excel-o"></i></a>   
                </div>
            </div>
        </div>
    </div>
{% endblock tituloSecundario %}
{% block pagina_actual %}
        {% if facturas %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Hora Entrada</th>
                        <th scope="col">Hora Salida</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Valor Pagado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">PDF</th>
                    </tr>
                </thead>
                {% for factura in facturas %}
                    <tbody>
                        <tr>
                            <th>{{ factura.pk }}</th>
                            <td>{{ factura.registroEntrada.horaIngreso }}</td>
                            <td>{{ factura.horaSalida }}</td>
                            <td>{{ factura.registroEntrada.placa }}</td>
                            <td>${{ factura.valorPagar }}</td>
                            <td>{{ factura.estado }}</td>
                            <td><a href="{% url 'reportes:generarFactura' factura.pk %}"><i class="fa fa-download"></i></a></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">No existen registros!</h4>
                <hr>
            </div>
        {% endif%}
{% endblock pagina_actual %}