{% extends 'index.html' %}
{% block titulo %}
    Facturas
{% endblock titulo %}
{% block tituloSecundario %}
    <div class="row">
        <div class="col-md-8">
            Contenido
        </div>
        <div class="col-md-4">
        </div>
    </div>
{% endblock tituloSecundario %}
{% block pagina_actual %}
        {% if facturas %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Hora Entrada</th>
                        <th scope="col">Hora Salida</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Valor Pagado</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                {% for factura in facturas %}
                    <tbody>
                        <tr>
                            <th>{{ factura.pk }}</th>
                            <td>{{ factura.registroEntrada.horaIngreso }}</td>
                            <td>{{ factura.horaSalida }}</td>
                            <td>{{ factura.registroEntrada.placa }}</td>
                            <td>${{ factura.valorPagar }}</td>
                            <td>{{ factura.estado }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <h1>No existe facturas creadas.</h1>
        {% endif%}
{% endblock pagina_actual %}