{% extends 'index.html' %}
{% block titulo %}
    Descuentos
{% endblock titulo %}
{% block pagina_actual %}
        Listado de Descuentos
        <br>
        <a href="{% url 'parking:crear_descuento' %}">Crear Descuentos</a>
        {% if descuentos %}
            <table border="1" align="center">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo Descuento</th>
                    <th>Porcentaje</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            {% for descuento in descuentos %}
            <tbody>
                <th>{{ descuento.pk }}</th>
                <td>{{ descuento.tipoDescuento }}</td>
                <td>{{ descuento.porcentaje }}%</td>
                <td><a href="{% url 'parking:editar_descuento' descuento.pk %}">Editar</a></td>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
            <h1>No existe Descuentos creados.</h1>
        {% endif %}
{% endblock pagina_actual %}