{% extends 'index.html' %}
{% block titulo %}
    Categorias
{% endblock titulo %}
{% block tituloPrincipal %}
    Listado de Categorias
{% endblock tituloPrincipal %}
{% block tituloSecundario %}
    <div class="row">
        <div class="col-md-8">
            Contenido
        </div>
        <div class="col-md-4">
            <a href="{% url 'parking:crear_categoria' %}">Crear categoria</a>
        </div>
    </div>
{% endblock tituloSecundario %}
{% block pagina_actual %}
        {% if categorias %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo Vehiculo</th>
                        <th scope="col">Tarifa</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <th>{{ categoria.pk }}</th>
                        <td>{{ categoria.tipo }}</td>
                        <td>${{ categoria.tarifa }}</td>
                        <td><a href="{% url 'parking:editar_categoria' categoria.pk%}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">No existen registros!</h4>
                <hr>
            </div>
        {% endif%}
{% endblock pagina_actual %}