<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Inicio{% endblock titulo %}</title>
</head>
<body>
    <nav>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'parking:listar_empresa' %}">Empresa</a></li>
        <li><a href="{% url 'parking:listar_categoria' %}">Categoria</a></li>
        <li><a href="{% url 'parking:listar_vehiculoregistrados' %}">Vehiculos Registrados</a></li>
        <li><a href="{% url 'parking:registro_entrada' %}">Registro Entradas</a></li>
        <li><a href="{% url 'parking:listar_descuento' %}">Tarifas de Descuentos</a></li>
        <li><a href="{% url 'parking:listar_factura' %}">Facturas</a></li>
    </nav>
    {% block alertas %}
        {% for message in messages%}
            {% if message.tags == 'error'%}
            <div class="alert alert-success d-flex align-items-center fade show" role="alert">
                <strong></strong>{{ message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif%}
            {% if message.tags == 'info'%}
            <div class="alert alert-success d-flex align-items-center fade show" role="alert">
                <strong></strong>{{ message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif%}
        {% endfor %}
    {% endblock alertas %}

    {% block pagina_actual %}
        {% if datoMoto and datoCarro %}
            {% for moto in datoMoto.values %}
                    <h1>Cupos Moto</h1>
                    <h3>{{ moto }}</h3>
            {% endfor %}
            {% for carro in datoCarro.values %}
                    <h1>Cupos Carro</h1>
                    <h3>{{ carro }}</h3>
            {% endfor %}
        {% else %}
            no hay datos
        {% endif %}
    {% endblock pagina_actual %}
</body>
</html>